{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="flex h-screen bg-gray-200 items-center justify-center  mt-32 mb-32">
        <div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2">
            <div class="flex justify-center py-4">
            <div class="flex bg-purple-200 rounded-full md:p-4 p-2 border-2 border-purple-300">
                <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path></svg>
            </div>
            </div>

            <div class="flex justify-center">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Add Task</h1>
            </div>
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="id_task_name">Task Name</label>
                <input type="text" name="task_name" maxlength="100" required="" id="id_task_name" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Input 1" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_last_date" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Last Date</label>
                <input type="text" name="last_date" required="" id="id_last_date" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Input 1" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_description" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="id_task_name">Description</label>
                <input type="text" name="description" maxlength="1000" id="id_description" class="py-8 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Input 1" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_url" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Neccesary Url</label>
                <input type="url" name="url" maxlength="100" required="" id="id_url" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Input 3" />
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
                <div class="grid grid-cols-1">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Status</label>
                    <select name="status" required="" id="id_status" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                        <option value="0">On Going</option>
                        <option value="1">Done</option>
                    </select>
                </div>

                <div class="grid grid-cols-1">
                    <label for="id_assign_status" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Assingment Status</label>
                    <select name="assign_status" required="" id="id_assign_status" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                        <option value="0">Unassigned</option>

                        <option value="1">Assigned</option>

                    </select>
                </div>
            </div>

    
            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_member" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Assign a member</label>
                <select name="member" id="id_member" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                    
                    {% for user in users %}
                        <option value={{ user.id }}>{{ user.in_club_name }}</option>
                    {% endfor %}
                </select>
            </div>
            

            <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                <button class='w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'><a href="{% url "task_listings" %}">Cancel</a></button>
                <button type="submit" class='w-auto bg-purple-500 hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Create</button>
            </div>

        </div>
    </div>
</form>
{% endblock content %}