{% extends 'base.html' %}

{% block content %}



<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4 upper">{{ task.task_name }}</h1>
    </div>

    <a class="mt-5 text-indigo-500 inline-flex items-center" href="{% url 'task_listings' %}" style="padding-left: 94%">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
      </svg> Go Back
    </a>

    <div class="flex flex-wrap lg:w-5/5 sm:mx-auto sm:mb-2 -mx-2">
      
      <div class="p-2 sm:w-1/8 w-full" style="padding-top: 20px">
        <span>Description: </span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
        
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
            <br>
            <span class="title-font font-medium">{{ task.description }}</span>
        </div>
      </div>
      
      <div class="p-2 sm:w-1/8 w-full" style="padding-top: 50px">
        <span>Neccesary URL</span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">{{ task.url }}</span>
        </div>
      </div>

      <div class="p-2 sm:w-1/2 w-full" style="padding-top: 50px">
        <span>Assigned Date:</span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">{{ task.assign_date }}</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full" style="padding-top: 50px">
        <span>Last Date:</span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">{{ task.last_date }}</span>
        </div>
      </div>

      <div class="p-2 sm:w-1/2 w-full" style="padding-top: 50px">
        <span>Status:</span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>

          {% if task.status %}
            <span class="title-font font-medium">Done</span>
          {% else %}
            <span class="title-font font-medium">On Going</span>
          {% endif %}

        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full" style="padding-top: 50px">
        <span>Assignment Status:</span>
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
            {% if task.assign_status %}
                <span class="title-font font-medium">Assigned to: {{ task.member }}</span>
            {% else %}
                <span class="title-font font-medium">Unassigned</span>
            {% endif %}
        </div>
      </div>
    </div>
    <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5' style="padding-top: 40px">
        {% if task.assign_status == False %}
            <button class='w-auto bg-green-500 hover:bg-green-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'><a href="{% url 'task_apply' task.pk %}">Apply</a></button>
        {% endif%}
        <button class='w-auto bg-indigo-500 hover:bg-indigo-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'><a href="{% url 'task_update' task.pk %}">Update</a></button>
        <button class='w-auto bg-red-500 hover:bg-red-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'><a href="{% url 'task_delete' task.pk %}">delete</a></button>
    </div>
  </div>
</section>


{% endblock content %}
