{% extends 'base.html' %}


{% block title %} | Create {% endblock %}


{% block content %}


<form method="post">
    {% csrf_token %}
    <div class="flex h-screen bg-gray-200 items-center justify-center  mt-10 mb-10">
        <div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2">
            <div class="flex justify-center py-4">
            <div class="flex bg-purple-200 rounded-full md:p-4 p-2 border-2 border-purple-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                </svg>
            </div>
            </div>

            <div class="flex justify-center">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl upper">Add Task</h1>
            </div>
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="id_task_name">Task Name</label>
                <input type="text" name="task_name" maxlength="100" required="" id="id_task_name" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Task Name" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_last_date" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Last Date</label>
                <input type="text" name="last_date" required="" id="id_last_date" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Pick a Date" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_description" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold" for="id_task_name">Description</label>
                <input type="text" name="description" maxlength="1000" id="id_description" class="py-8 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Add Description" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_url" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Neccesary Url</label>
                <input type="url" name="url" maxlength="100" required="" id="id_url" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Url" />
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_member" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Assign a member</label>
                <select name="member" id="id_member" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                    
                    {% for user in users %}
                        <option value={{ user.id }}>{{ user.in_club_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                <label for="id_code" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Task Code</label>
                <input type="text" name="code" maxlength="8" id="id_code" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent" type="text" placeholder="Input 3" value="{{ code }}"/>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
                <div class="grid grid-cols-1">
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Status</label>
                    <select name="status" required="" id="id_status" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                        <option value="0">On Going</option>
                        <option value="1">Done</option>
                    </select>
                </div>

                <div class="grid grid-cols-1">
                    <label for="id_assign_status" class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Assingment Status</label>
                    <select name="assign_status" required="" id="id_assign_status" class="py-2 px-3 rounded-lg border-2 border-purple-700 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:border-transparent">
                        <option value="0">Unassigned</option>

                        <option value="1">Assigned</option>

                    </select>
                </div>
            </div>

            <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                <button class='w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'><a href="{% url "task_listings" %}">Cancel</a></button>
                <button type="submit" class='w-auto bg-purple-500 hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Create</button>
            </div>

        </div>
    </div>
</form>
{% endblock content %}